<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wepos.pos.dao.PosChartStatsDao">

	<select id="monthStats" parameterType="map" resultType="chartStatsDto">
		select concat(mo.mon, '월') as label, sum(mo.order_price) as totalPrice
		from
		(
			select to_char(o.order_date, 'MM') as mon, od.order_price
			from orders o
			inner join orders_detail od on o.order_code = od.order_code
			where o.shop_code = #{shopCode} and o.order_state = 1
			and o.order_date between to_timestamp(#{start}, 'YYYY-MM-DD') and to_timestamp(#{finish}, 'YYYY-MM-DD')
		) mo
		group by mo.mon
		order by mo.mon
	</select>
	
	<select id="productStats" parameterType="map" resultType="chartStatsDto">
		select p.product_name as label, ord.totalPrice
		from
		(
			select od.product_code, sum(order_price) as totalPrice
			from orders o
			inner join orders_detail od on o.order_code = od.order_code
			where o.shop_code = #{shopCode} and o.order_state = 1
			and o.order_date between to_timestamp(#{start}, 'YYYY-MM-DD') and to_timestamp(#{finish}, 'YYYY-MM-DD')
			group by od.product_code
			order by od.product_code
		) ord
		inner join product p on ord.product_code = p.product_code	
	</select>
	
	<select id="paymentPlanStats" parameterType="map" resultType="chartStatsDto">
		select p.payment_name as label, ord.totalPrice
		from
		(
			select o.payment_code, sum(od.order_price) as totalPrice
			from orders o
			inner join orders_detail od on o.order_code = od.order_code
			where o.shop_code = #{shopCode} and o.order_state = 1
			and o.order_date between to_timestamp(#{start}, 'YYYY-MM-DD') and to_timestamp(#{finish}, 'YYYY-MM-DD')
			group by o.payment_code
		) ord
		inner join payment_plan p on ord.payment_code = p.payment_code
	</select>

</mapper>