<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.wepos.pos.dao.PosMainDao">

	<select id="selectCategory" parameterType="int" resultType="CategoryDto">
		select * from category
		where shop_code=#{shopCode}
		order by category_code asc
	</select>
	
	<select id="countProduct" parameterType="int" resultType="CategoryDto">
		select category_code, count( category_code ) "countProduct"
		from product
		where shop_code = #{shopCode}
		group by category_code
		order by category_code
	</select>

	<insert id="createCategory" parameterType="CategoryDto">
		insert into category values(#{shopCode},(select NVL2(max(category_code),max(category_code) + 1,1 ) "categoryCode" from category where shop_code=#{shopCode}),#{categoryName})
	</insert>

	<update id="updateCategory" parameterType="CategoryDto">
		update category set category_name=#{categoryName}
		where shop_code=#{shopCode} and category_code=#{categoryCode}
	</update>
	
	<delete id="deleteCategory" parameterType="CategoryDto">
		delete from category
		where shop_code=#{shopCode} and category_code=#{categoryCode}
	</delete>
	
	<select id="checkCategoryName" parameterType="CategoryDto" resultType="int">
		select count(category_name) from category 
		where shop_code=#{shopCode} and category_name=#{categoryName}
	</select>
	
</mapper>
