<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.wepos.pos.dao.PosMainDao">
  
  <select id="getTableCount" parameterType="int" resultType="int">
    SELECT COUNT(table_code)
    FROM shop s, tables t
    WHERE s.shop_code = t.shop_code
    AND s.shop_code = #{shopCode}
  </select>
  
  <!-- 매니저 아이디로 매장 코드 구함 -->
  <select id="getShopCode" parameterType="String" resultType="int">
    SELECT shop_code
    FROM shop
    WHERE shop_code = ( select shop_code from mgr where mgr_id = #{mgrId} )
  </select>
  
  <!-- 매장 코드로 매장 정보 구함 -->
  <select id="getShop" parameterType="int" resultType="shopDto" >
    SELECT *
    FROM shop
    WHERE shop_code = #{shopCode}
  </select>
  
  <!-- 매장 코드로 매장 테이블 정보 select -->
  <select id="getTables" parameterType="int" resultType="TablesDto">
    SELECT * 
    FROM tables 
    WHERE shop_code= #{shopCode}
  </select>
  
  <!-- 매장 코드로 매장 메뉴 정보 select -->
  <select id="getProductList" parameterType="int" resultType="ProductDto">
    SELECT *
    FROM product
    WHERE shop_code = #{shopCode}
  </select>
  
  <!-- 카테고리 이름 select -->
  <select id="getCategory" parameterType="int" resultType="java.util.HashMap">
    SELECT c.category_code, c.category_name
    FROM category c, product p
    WHERE c.category_code = p.category_code
    AND c.category_code = #{categoryCode}
  </select>
  
  <insert id="insertOrders" parameterType="OrdersDto">
    INSERT INTO orders 
    VALUES( orders_seq.nextval, #{shopCode}, #{tableCode}, null, #{paymentCode}, sysdate, '0')
  </insert>
  
  <insert id="insertOrdersDetail" parameterType="OrdersDetailDto">
    INSERT INTO orders_detail
    VALUES( #{orderCode}, #{productCode}, #{orderAmount}, #{orderPrice} )
  </insert>
  
  <select id="getOrderCode" resultType="int">
    SELECT max(order_code)
    FROM orders
  </select>
  
  <select id="getOrderBeforePayment" resultType="OrdersDto">
    SELECT * FROM orders
    WHERE order_state = '0'
  </select>
  
  <select id="getOrdersDetailBeforePayment" resultType="OrdersDetailDto">
    SELECT od.*, o.table_code, p.product_name 
    FROM orders_detail od, orders o, product p
    WHERE od.order_code = o.order_code
    And od.product_code = p.product_code
    AND od.order_code IN ( SELECT order_code FROM orders WHERE order_state = 0 )
    ORDER by o.table_code
  </select>
  
</mapper>
