<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.wepos.pos.dao.PosMainDao">

	<insert id="createProduct" parameterType="TablesDto">
		insert into product values(product_seq.nextval,#{shopCode},#{categoryCode},#{productName},#{productPrice},#{productStock},#{productDesc},0)
	</insert>

	<update id="updateProduct" parameterType="TablesDto">
		update product set product_name=#{productName},category_code=#{categoryCode},product_price=#{productPrice},product_stock=#{productStock},product_desc=#{productDesc}
		where shop_code=#{shopCode} and product_code=#{productCode}
	</update>
	
	<delete id="deleteProduct" parameterType="int">
		delete from product 
		where shop_code=#{shopCode} and product_code=#{productCode}
	</delete>
</mapper>
