<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.wepos.pos.dao.PosMainDao">

	<insert id="createTable" parameterType="TablesDto">
		insert into tables values(tables_seq.nextval,#{shopCode},#{tableName},#{tableDesc},0,#{tableMax})
	</insert>

	<update id="updateTable" parameterType="TablesDto">
		update tables set table_name=#{tableName},table_desc=#{tableDesc},table_max=#{tableMax}
		where table_code=#{tableCode}
	</update>
</mapper>
