<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.wepos.common.dao.BoardDao">

	<select id="selectList" resultType="boardDto">
		select board_number, board_title, total_id, board_date, board_read_cnt, board_file
			from board
				order by board_number desc
	</select>
	
	<select id="selectOne" resultType="int">
		select count(*) from board
	</select>

	<insert id="boardInsert" parameterType="boardDto">
		insert into board
		values(board_seq.nextval, 1, #{totalId}, #{boardTitle}, #{boardContent}, sysdate, 0, #{boardFile, jdbcType=VARCHAR})
	</insert>

	<select id="getNumber" resultType="int">
		select max(board_number) from board 
	</select>

	<update id="plusReadCnt" parameterType="int">
		update board set board_read_cnt=board_read_cnt+1 where board_number=#{boardNumber}
	</update>

	<select id="selectBoard" resultType="boardDto" parameterType="int">
		select board_number, board_title, total_id, board_date, board_content, board_read_cnt, board_file
			from board
				where board_number=#{boardNumber}
	</select>

	<update id="updateBoard" parameterType="int">
		update board set board_title=#{boardTitle}, board_content=#{boardContent}, board_file=#{boardFile, jdbcType=VARCHAR}
		where board_number=#{boardNumber}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		delete from board where board_number=#{boardNumber}
	</delete>

</mapper>