<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.wepos.common.dao.BoardDao">

<!-- 
	<select id="selectList" resultType="boardDto" parameterType="map">
		select rownum rnum board_number, board_title, total_id, board_date, board_read_cnt
			from board
	<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
	]]>
				order by board_number desc
	</select>
 -->	
 
 	<select id="selectList" resultType="boardDto" parameterType="map">
		select board_number, board_title, total_id, board_date, board_read_cnt
			from(select a.*, rownum rnum from (select * from board
			
				<!-- 동적으로 필드 변경을 할 때 where 태그를 사용 -->
    	    	<where>
    	    		<if test="boardTypeCode!=null">
						board_type_code=#{boardTypeCode}
					</if>
    	    		<!-- 검색분야를 입력했다면 -->
					<if test="keyWord!=null and keyField=='title'">
						board_title like '%' || #{keyWord} || '%'
					</if>
					<if test="keyWord!=null and keyField=='writer'">
						total_id like '%' || #{keyWord} || '%'
					</if>
					<if test="keyWord!=null and keyField=='content'">
						board_content like '%' || #{keyWord} || '%'
					</if>
					<if test="keyWord!=null and keyField=='all'">
						board_title like '%' || #{keyWord} || '%' or
						total_id like '%' || #{keyWord} || '%' or
						board_content like '%' || #{keyWord} || '%'
					</if>
    	    	</where>
			
			 order by board_number desc) a) 
	<![CDATA[
		WHERE (rnum >= #{start} AND rnum <= #{end})
	]]>
				order by board_number desc
	</select>
	
	<select id="getRowCount" parameterType="map" resultType="int">
		select count(*) from board 
		<where>
			<if test="boardTypeCode!=null">
				board_type_code=#{boardTypeCode}
			</if>			
        	<!-- 검색분야를 입력했다면 -->
			<if test="keyWord!=null and keyField=='title'">
				board_title like '%' || #{keyWord} || '%'
			</if>
			<if test="keyWord!=null and keyField=='writer'">
				total_id like '%' || #{keyWord} || '%'
			</if>
			<if test="keyWord!=null and keyField=='content'">
				board_content like '%' || #{keyWord} || '%'
			</if>
			<if test="keyWord!=null and keyField=='all'">
				board_title like '%' || #{keyWord} || '%' or
				total_id like '%' || #{keyWord} || '%' or
				board_content like '%' || #{keyWord} || '%'
			</if>
       	</where>
	</select>

	<insert id="boardInsert" parameterType="boardDto">
		insert into board
		values(board_seq.nextval, #{boardTypeCode}, #{totalId}, #{boardTitle}, #{boardContent}, sysdate, 0, #{boardFile, jdbcType=VARCHAR})
	</insert>

	<select id="getNumber" resultType="int">
		select max(board_number) from board where board_type_code=#{boardTypeCode}
	</select>

	<update id="plusReadCnt" parameterType="int">
		update board set board_read_cnt=board_read_cnt+1 where board_number=#{boardNumber} and board_type_code=#{boardTypeCode}
	</update>

	<select id="selectBoard" resultType="boardDto" parameterType="int">
		select board_number, board_title, total_id, board_date, board_content, board_read_cnt, board_file
			from board
				where board_number=#{boardNumber} and board_type_code=#{boardTypeCode}
	</select>

	<update id="updateBoard" parameterType="int">
		update board set board_title=#{boardTitle}, board_content=#{boardContent}, board_file=#{boardFile, jdbcType=VARCHAR}
		where board_number=#{boardNumber} and board_type_code=#{boardTypeCode}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		delete from board where board_number=#{boardNumber} and board_type_code=#{boardTypeCode}
	</delete>

</mapper>