<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.wepos.common.dao.ReservationDao">
	
	<insert id="insertRes" parameterType="ReservationDto">
		insert into reservation values(reservation_seq.nextval, #{userId}, #{shopCode}, #{resPersons}, #{resFinalDate}, #{resDesc}, 0)
	</insert>

	<select id="selectReservation" parameterType="ReservationDto" resultType="ReservationDto">
		select * from reservation where user_id=#{userId} and res_state=0
	</select>
	
	<select id="selectShopName" parameterType="reservationDto" resultType="ShopDto">
		select * from shop s, reservation r where s.shop_code=r.shop_code and r.rese_number=#{reseNumber}
	</select>

	<update id="updateRes" parameterType="ReservationDto">
		update reservation set res_persons=#{resPersons}, res_date=#{resFinalDate}, res_desc=#{resDesc} where user_id=#{userId}	
	</update>

	<delete id="deleteRes" parameterType="int">
		delete from reservation where rese_number=#{reseNumber}
	</delete>
	
	<select id="countRes" parameterType="ReservationDto" resultType="int">
		select count(*) from reservation where shop_code=#{shopCode} and user_id=#{userId} and res_state=0
	</select>
	
	<select id="selectMgrId" resultType="shopMgrDto">
		select mgr_id from mgr
	</select>

	<select id="selectCheckId" parameterType="ReservationDto" resultType="int">
		select count(*) from users where user_id=#{userId}	
	</select>
	
	<select id="selectResCount" parameterType="ReservationDto" resultType="int">
		select count(*) from reservation where user_id=#{userId} and res_state=0
	</select>

	<select id="selectPastResCount" parameterType="ReservationDto" resultType="int">
		select count(*) from reservation where user_id=#{userId} and res_state!=0
	</select>

	<select id="selectReservationAll" parameterType="ReservationDto" resultType="ReservationDto">
		select * from reservation where user_id=#{userId} and res_state !=0 order by res_date desc
	</select>

	<select id="selectReservationOne" parameterType="ReservationDto" resultType="ReservationDto">
		select * from reservation where user_id=#{userId} and res_state =1
	</select>
	
	<select id="selectReservationTwo" parameterType="ReservationDto" resultType="ReservationDto">
		select * from reservation where user_id=#{userId} and res_state =2
	</select>

	<select id="selectResAllShopName" parameterType="ReservationDto" resultType="ShopDto">
		select * from shop where shop_code in (select shop_code from reservation where user_id=#{userId} and res_state !=0)
	</select>

</mapper>