<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.wepos.common.dao.ShopDao">
 
  <!-- 검색된 매장 갯수 --> 
  <select id="searchShopCount" parameterType="map" resultType="Integer">
    select count(shop_name) from shop
    <where>
    	<if test="shopName != null">
			shop_name like '%' || #{shopName, jdbcType=VARCHAR} || '%'  				
		</if>
		<if test="shopTypeCode != 0">
			and shop_type_code = #{shopTypeCode}
		</if>
		<if test="cityCode != 0">
			and city_code = #{cityCode}
		</if>
		<if test="localCode != 0">
			and local_code = #{localCode}
		</if>
    </where>    
  </select>  
  
  <select id="searchShop" parameterType="map" resultType="shopDto">
  	select s.shop_code, s.shop_type_code, s.city_code, s.local_code, s.shop_name, s.shop_desc, s.shop_file, 
  		c.city_name || ' ' || l.local_name || ' ' || s.shop_address as shop_address
  	from
  	(
  		select rnumshop.*, rownum as rnum
		from
		(
			select *
			from shop
			<where>
				<if test="shopName != null">
					shop_name like '%' || #{shopName, jdbcType=VARCHAR} || '%'  				
				</if>
				<if test="shopTypeCode != 0">
					and shop_type_code = #{shopTypeCode}
				</if>
				<if test="cityCode != 0">
					and city_code = #{cityCode}
				</if>
				<if test="localCode != 0">
					and local_code = #{localCode}
				</if>
			</where>			
			order by shop_code
		) rnumshop	
  	) s
  	inner join city c on s.city_code = c.city_code
	inner join local l on c.city_code = l.city_code and s.local_code = l.local_code
  	<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
	]]>  
  </select>
  
  <select id="getShopDetail" parameterType="int" resultType="shopDto">
  	select s.shop_code, s.shop_type_code, s.city_code, s.local_code, s.shop_name, s.shop_desc, s.shop_file, s.shop_phone,
  		c.city_name || ' ' || l.local_name || ' ' || s.shop_address as shop_address, s.shop_start_time, s.shop_end_time
  	from shop s
  	inner join city c on s.city_code = c.city_code
	inner join local l on c.city_code = l.city_code and s.local_code = l.local_code
  	where s.shop_code = #{shopCode}
  </select>
  
  <select id="productList" parameterType="map" resultType="ProductDto">
  	select p.product_name, p.product_price, p.product_desc, p.product_file
  	from 
  	(
  		select rnumproduct.*, rownum as rnum
  		from
  		(
  			select *
  			from product
  			<where>
  				<if test="shopCode != null">
  					and shop_code = #{shopCode}
  				</if>  				
  				<if test="categoryCode != 0">
  					and category_code = #{categoryCode}
  				</if>
  			</where>  			
  			order by product_code
  		) rnumproduct  		
  	) p
  	<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
	]]>
  </select>
  
  <select id="productCount" parameterType="map" resultType="int">  	
  	select count(product_code)
  	from product p
  	inner join category c on p.shop_code = c.shop_code and p.category_code = c.category_code
  	<where>
  		<if test="shopCode != null">
  			p.shop_code = #{shopCode}
  		</if>  		
  		<if test="categoryCode != 0">
  			and p.category_code = #{categoryCode}
  		</if>
  	</where>
  </select>
  
  <select id="shopTableInfo" parameterType="int" resultType="map">
  	select count(*) as totalTable, sum(decode(table_state, 0, 1, 0)) as emptyTable , 
  		sum(decode(table_state, 1, 1, 0)) as useTable
  	from tables
  	where shop_code = #{shopCode}
  </select>
  
  <select id="categoryList" parameterType="int" resultType="categoryDto">
  	select shop_code, category_code, category_name
  	from category
  	where shop_code = #{shopCode}
  </select>
  
  <select id="shopNoticeCount" parameterType="map" resultType="int">
  	select count(notice_number)
  	from shop_notice
  	<where>
  		<if test="shopCode != null">
  			and shop_code = #{shopCode}  		
  		</if>
  		<if test="searchNoticeType != 'all' and searchNoticeText != ''">
  			and ${searchNoticeType} like '%' || #{searchNoticeText} || '%'
  		</if>
  		<if test="searchNoticeType == 'all' and searchNoticeText != ''">
  			and (mgr_id like '%' || #{searchNoticeText} || '%' or 
  			notice_title like '%' || #{searchNoticeText} || '%' or
  			notice_content like '%' || #{searchNoticeText} || '%')
  		</if>
  	</where>
  </select>
  
  <select id="shopNoticeList" parameterType="map" resultType="shopNoticeDto">  	
  	select sn.notice_number, sn.mgr_id, sn.notice_title, sn.notice_content, sn.notice_date, sn.notice_read_cnt, sn.notice_file
  	from
  	(  	
  		select rnumsn. *, rownum as rnum
  		from
  		(
  			select *
  			from shop_notice
		  	<where>
		  		<if test="shopCode != null">
		  			and shop_code = #{shopCode}  		
		  		</if>
		  		<if test="searchNoticeType != 'all' and searchNoticeText != ''">
		  			and ${searchNoticeType} like '%' || #{searchNoticeText} || '%'
		  		</if>
		  		<if test="searchNoticeType == 'all' and searchNoticeText != ''">
		  			and (mgr_id like '%' || #{searchNoticeText} || '%' or 
		  			notice_title like '%' || #{searchNoticeText} || '%' or
		  			notice_content like '%' || #{searchNoticeText} || '%')
		  		</if>
		  	</where>
  			order by notice_number desc
  		) rnumsn
  	) sn
  	<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
	]]>  	
  </select>
  
  <select id="shopNoticeDetail" parameterType="int" resultType="shopNoticeDto">
  	select *
  	from shop_notice
  	where notice_number = #{noticeNumber}
  </select>
  
  <update id="addNoticeReadCnt" parameterType="int">
  	update shop_notice set notice_read_cnt = notice_read_cnt + 1 where notice_number = #{noticeNumber}
  </update>
  
  <select id="shopBoardCount" parameterType="map" resultType="int">
  	select count(board_number)
  	from shop_board
  	<where>
  		<if test="shopCode != null">
  			and shop_code = #{shopCode}  		
  		</if>
  		<if test="searchBoardType != 'all' and searchBoardText != ''">
  			and ${searchBoardType} like '%' || #{searchBoardText} || '%'
  		</if>
  		<if test="searchBoardType == 'all' and searchBoardText != ''">
  			and (total_id like '%' || #{searchBoardText} || '%' or 
  			board_title like '%' || #{searchBoardText} || '%' or
  			board_content like '%' || #{searchBoardText} || '%')
  		</if>
  	</where>
  </select>
  
  <select id="shopBoardList" parameterType="map" resultType="shopBoardDto">
  	select sb.board_number, sb.total_id, sb.board_title, sb.board_content, sb.board_date, sb.board_read_cnt, sb.board_file
  	from
  	(  	
  		select rnumsb. *, rownum as rnum
  		from
  		(
  			select *
  			from shop_board
		  	<where>
		  		<if test="shopCode != null">
		  			and shop_code = #{shopCode}  		
		  		</if>
		  		<if test="searchBoardType != 'all' and searchBoardText != ''">
		  			and ${searchBoardType} like '%' || #{searchBoardText} || '%'
		  		</if>
		  		<if test="searchBoardType == 'all' and searchBoardText != ''">
		  			and (total_id like '%' || #{searchBoardText} || '%' or 
		  			board_title like '%' || #{searchBoardText} || '%' or
		  			board_content like '%' || #{searchBoardText} || '%')
		  		</if>
		  	</where>
  			order by board_number desc
  		) rnumsb
  	) sb
  	<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
	]]>
  </select>
  
  <update id="addBoardReadCnt" parameterType="int">
  	update shop_board set board_read_cnt = board_read_cnt + 1 where board_number = #{boardNumber}
  </update>
  
  <select id="shopBoardDetail" parameterType="int" resultType="shopBoardDto">
  	select *
  	from shop_board
  	where board_number = #{boardNumber}
  </select>
  
  <select id="shopBoardReplyCount" parameterType="int" resultType="int">
  	select count(reply_number)
  	from shop_board_reply
  	where board_number = #{boardNumber}
  </select>
  
  <select id="shopBoardReplyList" parameterType="map" resultType="shopBoardReplyDto">  	
  	select rnumsbr.reply_number, rnumsbr.board_number, rnumsbr.total_id, rnumsbr.reply_content, rnumsbr.reply_date
  	from
  	(  	
  		select sbr.*, rownum as rnum
  		from
  		(
  			select *
  			from shop_board_reply
  			where board_number = #{boardNumber}
  			order by reply_number desc
  		) sbr
  	) rnumsbr
  	<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
	]]>
  </select>
  
  <insert id="shopBoardReplyWrite" parameterType="shopBoardReplyDto">
  	insert into shop_board_reply values(shop_board_reply_SEQ.nextval, #{boardNumber}, #{totalId}, #{replyContent}, sysdate)
  </insert>
  
  <update id="shopBoardReplyUpdate" parameterType="shopBoardReplyDto">
  	update shop_board_reply set reply_content = #{replyContent} where reply_number = #{replyNumber}
  </update>
  
  <delete id="shopBoardReplyDelete" parameterType="int">
  	delete from shop_board_reply where reply_number = #{replyNumber}
  </delete>
  
  <insert id="shopBoardWrite" parameterType="shopBoardDto">
  	insert into shop_board values(shop_board_SEQ.nextval, #{shopCode}, #{totalId}, #{boardTitle}, 
  		#{boardContent}, sysdate, 0, #{boardFile, jdbcType=VARCHAR})
  </insert>
  
  <update id="shopBoardUpdate" parameterType="shopBoardDto">
  	update shop_board set board_title = #{boardTitle}, board_content = #{boardContent}, board_file = #{boardFile, jdbcType=VARCHAR}
  	where board_number = #{boardNumber}
  </update>
  
</mapper>
