<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wepos.mgr.dao.MgrDao">

	<select id="shopInfo" parameterType="int" resultType="shopDto">
		select *
		from shop
		where shop_code = #{shopCode}
	</select>
	
	<update id="shopInfoUpdate" parameterType="shopDto">
		update shop set shop_type_code = #{shopTypeCode}, city_code = #{cityCode}, local_code = #{localCode},
			shop_name = #{shopName}, shop_desc = #{shopDesc}, shop_address = #{shopAddress},
			shop_file= #{shopFile, jdbcType=VARCHAR}, shop_phone = #{shopPhone}, shop_start_time = #{shopStartTime},
			shop_end_time = #{shopEndTime} where shop_code = #{shopCode}
	</update>
	
</mapper>