<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.wepos.admin.dao.AdminDao">
	<select id="getShopType" resultType="shopTypeDto">
		select * from shop_type
	</select>
	
	<select id="getCity" resultType="cityDto">
		select * from city
	</select>
	
	<select id="searchLocal" parameterType="int" resultType="localDto">
		select * from local where city_code = #{cityCode}
	</select>
	
	<insert id="shopRegistration" parameterType="shopDto">
		insert into shop values(shop_seq.nextval, #{shopTypeCode}, 
			#{cityCode}, #{localCode}, #{shopName}, #{shopDesc}, #{shopAddress}, #{shopFile, jdbcType=VARCHAR}, #{shopPhone},
			#{shopStartTime}, #{shopEndTime})
	</insert>
	
	
	<insert id="insertMgr" parameterType="shopMgrDto">
		insert into mgr values(#{mgrId}, #{shopCode}, #{mgrPassword}, #{mgrName}, #{mgrPhone})
	</insert>
	
	<select id="searchShopCode" parameterType="int" resultType="shopDto">
		select * from shop where shop_type_code=#{shopTypeCode}
	</select>
	
	<select id="showMgrInfo" parameterType="String" resultType="shopMgrDto">
		select * from mgr where mgr_id=#{mgrId}
	</select>
	
	<select id="showShopInfo" parameterType="int" resultType="String">
		select shop_name from shop where shop_code=#{shopCode}
	</select>
	
	<update id="updateMgrInfo" parameterType="shopMgrDto">
		update mgr set mgr_password=#{mgrPassword},mgr_phone=#{mgrPhone},mgr_name=#{mgrName} where mgr_id=#{mgrId}
	</update>

</mapper>